{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Geldzaken</title>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['columnchart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var categorieJsonData = $.ajax({
                url: "{% url categorie %}",
                dataType:"json",
                async: false
            }).responseText;
            var categorieData = JSON.parse(categorieJsonData);
            categorieData.sort().reverse();
            var len = categorieData.length;

            function getData(year, month) {
                var boekingJsonData = $.ajax({
                    url: "{% url boeking year month %}",
                    dataType:"json",
                    async: false
                }).responseText;
                var boekingData = JSON.parse(boekingJsonData);

                // Create our data table out of JSON data loaded from server.
                //var data = google.visualization.arrayToDataTable(eval(jsonData));
                //var data = new google.visualization.DataTable(jsonData);

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Maand');
                for (var i in categorieData) {
                    data.addColumn('number', categorieData[i][1], categorieData[i][0]);
                }

                data.addRows(Object.keys(boekingData).length);
                var days = [];
                for (b in boekingData) {
                    days.push(b);
                }
                days.sort();
                for (var i=0; i < days.length; i++) {
                    var b = days[i];
                    data.setCell(i, 0, b);
                    for (id in boekingData[b]) {
                        data.setCell(i, data.getColumnIndex(id), boekingData[b][id]);
                    }
                }
                return data;
            }

            // Instantiate and draw our chart, passing in some options.
            var data = getData({{ year }}, {{ month }});
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, {
                displayAnnotations:true,
                isStacked:true,
                width: 0,
                height: 500
            });
            google.visualization.events.addListener(chart, 'select', function(){
                var col = chart.getSelection()[0].column;
                var row = chart.getSelection()[0].row;
                var month = row+1;

                if (row == null) { // click on category label
                    col += 1;
                    month = 0;
                }
                var cat_id = data.getColumnId(col);

                var detailsJson = $.ajax({
                    url: "{% url details year month %}?cat=" + cat_id + "&mon=" + month,
                    dataType:"json",
                    async: false
                }).responseText;
                var details = JSON.parse(detailsJson);

                $('#details_table').html('<tr>' +
                        '<th>Datum</th>' +
                        '<th>Rekening</th>' +
                        '<th>Categorie</th>' +
                        '<th>Mededelingen</th>' +
                        '<th>Bedrag</th>' +
                        '<th>Af</th>' +
                        '</tr>');
                for (var i in details) {
                    var d = details[i];
                    $('#details_table').append('<tr>' +
                            '<td>' + d['datum'] + '</td>' +
                            '<td>' + d['tegenrekening'] + '</td>' +
                            '<td>' + d['categorie'] + '</td>' +
                            '<td>' + d['mededelingen'] + '</td>' +
                            '<td>' + d['bedrag'] + '</td>' +
                            '<td>' + d['af'] + '</td>' +
                            '</tr>');
                }
            });
        }

    </script>
</head>
<body>
    <div>
        <ul id="navigation">
            <li {% if year == 0 %}class="active" {% endif %}>
                <a href="{% url totaal %}">{% trans "Totaal" %}</a>
            </li>
            {% for y in years %}
                <li {% if year == y %}class="active" {% endif %}>
                    <a href="{% url year y %}">{{ y }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <h1 id="page_title">{% if year == 0 %}{% trans "Totaal" %}{% else %}{{ year }}{% endif %}</h1>

    <div id="chart_div"></div>

    <div id="details">
        <table id="details_table" class="table">
        </table>
    </div>
</body>
</html>