{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['columnchart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var categorieJsonData = $.ajax({
                url: "{% url categorie %}",
                dataType:"json",
                async: false
            }).responseText;
            var categorieData = JSON.parse(categorieJsonData);
            categorieData.sort().reverse();
            var len = categorieData.length;

            function getData(year, month) {
                var boekingJsonData = $.ajax({
                    url: "{% url boeking year month %}",
                    dataType:"json",
                    async: false
                }).responseText;
                var boekingData = JSON.parse(boekingJsonData);

                // Create our data table out of JSON data loaded from server.
                //var data = google.visualization.arrayToDataTable(eval(jsonData));
                //var data = new google.visualization.DataTable(jsonData);

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Maand');
                for (var i in categorieData) {
                    data.addColumn('number', categorieData[i][1], categorieData[i][0]);
                }

                data.addRows(Object.keys(boekingData).length);
                var days = [];
                for (b in boekingData) {
                    days.push(b);
                }
                days.sort();
                for (var i=0; i < days.length; i++) {
                    var b = days[i];
                    data.setCell(i, 0, b);
                    for (id in boekingData[b]) {
                        data.setCell(i, data.getColumnIndex(id), -boekingData[b][id]);
                    }
                }
                return data;
            }

            // Instantiate and draw our chart, passing in some options.
            var data = getData({{ year }}, {{ month }});
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, {
                displayAnnotations:true,
                isStacked:true,
                width: 0,
                height: 700
            });
            google.visualization.events.addListener(chart, 'select', function(){
                var col = chart.getSelection()[0].column;
                var row = chart.getSelection()[0].row;
                if (row == null)
                    col += 1;
                var cat_id = data.getColumnId(col);
                var detailsJson = $.ajax({
                    url: "{% url details year month %}?cat=" + cat_id + "&r=" + row,
                    dataType:"json",
                    async: false
                }).responseText;
                var details = JSON.parse(detailsJson);
                console.log(details);
            });
        }

    </script>
</head>
<body>
    <div id="navigation">
        <ul>
            <li><a href="{% url totaal %}">{% trans "Jaar" %}</a>
                <ul>
                    {% for y in years %}
                        <li><a href="{% url year y %}">{{ y }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <div id="chart_div"></div>

    <div id="details">
        <table>
            <tr>
                <td>{% trans "Datum" %}</td>
                <td>{% trans "Rekening" %}</td>
                <td>{% trans "Categorie" %}</td>
                <td>{% trans "Bedrag" %}</td>
                <td>{% trans "Af" %}</td>
            </tr>
            <div id="rows"></div>
        </table>
    </div>
</body>
</html>